<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender class="ch.qos.logback.core.FileAppender" name="RootFileAppender">
    <file>kolja.log</file>
    <append>false</append>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <root>
    <level value="info" />
    <appender-ref ref="RootFileAppender" />
  </root>
</configuration>